.primary {
  color: var(--typography-primary-color);
}

.accent {
  color: var(--typography-accent-color);
}

.error {
  color: var(--typography-error-color);
}

.disabled {
  color: var(--typography-disabled-color);
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.light {
  font-weight: lighter;
}
