@use '@/app/variables.scss' as palette;

// input
.input {
  display: block;
  padding: 20px;
  color: palette.$typography-disabled-color;
  background-color: palette.$bg-primary-color;
  border: 2px solid palette.$typography-disabled-color;
  border-radius: 5px;

  &::placeholder {
    color: palette.$typography-disabled-color;
  }

  &:focus {
    color: palette.$typography-primary-color;
    border-color: palette.$typography-primary-color;
    outline: none;
  }

  &.error {
    border-color: palette.$typography-error-color;
  }
}
