@use '@/app/variables.scss' as palette;

.btn {
  display: block;
  padding: 12px 24px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.primary {
  color: palette.$typography-primary-color;
  background-color: palette.$bg-accent-color;
}

.dark {
  color: palette.$typography-primary-color;
  background-color: palette.$bg-secondary-color;
}

.bordered {
  color: palette.$typography-primary-color;
  background-color: palette.$bg-secondary-color;
  border: 2px solid palette.$bg-accent-color;
}

.none {
  color: palette.$typography-primary-color;
  text-decoration: underline;
  background-color: unset;
}
