.btn {
  display: block;
  padding: 12px 24px;
  cursor: pointer;
  border: 0;
  border-radius: 5px;
}

.primary {
  color: var(--typography-primary-color);
  background-color: var(--bg-accent-color);
}

.dark {
  color: var(--typography-primary-color);
  background-color: var(--bg-secondary-color);
}

.bordered {
  color: var(--typography-primary-color);
  background-color: var(--bg-secondary-color);
  border: 2px solid var(--bg-accent-color);
}

.none {
  color: var(--typography-primary-color);
  text-decoration: underline;
  background-color: unset;
}
