.text-area {
  display: block;
  padding: 20px;
  color: var(--typography-disabled-color);
  border: 2px solid var(--typography-disabled-color);
  border-radius: 5px;

  &::placeholder {
    color: var(--typography-primary-color); // TODO: change color to disabled
  }

  &:focus {
    color: var(--typography-primary-color);
    border-color: var(--bg-accent-color);
    outline: none;
  }
}
